body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0px;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
    color: white;
    padding-left: 150px;
    padding-right: 150px;
}



.p-tutoriais{
    max-width: 500px;
}

.topnav {
    
    overflow: hidden;
    bottom: 90px;
    position: relative;
}
@media screen and (max-width:1175px) {
    .topnav{
        overflow: hidden;
   bottom: 30px;
    position: relative;
    }
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}


#click_image {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 10px;

}

.images_categoria{
   padding-top: 100px;
}

.second_image{
    position: relative;
    bottom: 184px;
    left: 350px;
    max-width: 300px;
}

.third_image{
    position: relative;
    bottom: 368px;
    left: 700px;
    max-width: 300px;
}

#titulo {
    font-family: "Monaco", monospace;
    font-size: 400%;
    color: white;
    position: relative;
    
}



.top-container {

  

    position: relative;
    padding-top: 30px;
    height: 160px;
}





.footer-link {
    color: #11999e;
    text-decoration: none;
}

.contact-mojo {
    margin: 40% auto 0px;
    width: 50%;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    padding: 1 0px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #FFFFFF 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

* {box-sizing:border-box}

